SolarThermalSystem.xcodeproj/project.xcworkspace/xcuserdata/robert-hein.xcuserdatad/UserInterfaceState.xcuserstate
SolarThermalSystem.xcodeproj/xcuserdata/robert-hein.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
